# Auto detect text files and perform LF normalization
* text=auto eof=lf

# Custom for Visual Studio
*.cs     diff=csharp eol=crlf
*.c      diff=c
*.h      diff=c
*.sln    merge=union eol=crlf
*.csproj merge=union eol=crlf
*.vbproj merge=union eol=crlf
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# assets
*.mqo text

# binaries
*.png binary
*.bmp binary
*.jpg binary
*.jpeg binary
*.tiff binary
